* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
}

/* Estilos de la barra de navegación */
.nav {
  align-items: center;
  display: flex;
  height: 56px;
  width: 100%;
  
}

.bold-link {
  font-weight: bold;
  
}

.nav a {
  color: rgb(0, 0, 0, .87);
  text-decoration: none;
  margin: 10px;
  position: relative;
  font-weight: normal;
  
}

.nav a:hover {
  color: rgb(10, 128, 98);
}

/* Estilos de las secciones */
.section {
  padding: 10px;

}

a {
  color: rgb(47, 0, 255);
  margin: 10px 5;
  font-weight: bold;
  text-decoration: none;
}

.section h2 {
  margin-bottom: 10px;
  color: rgb(32, 33, 36);
  font-weight: normal;
}

/* Estilos de la cuadrícula */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 1fr;
}

/* Estilos de las tarjetas */
.card {

  flex-direction: column;
  background-color: rgb(226, 226, 213);
  padding: 1px;
  opacity: 1;
}

.card img {
  width: 100x;
  height: 150px;
  display: block;
  /* Asegura que el margen automático funcione */
  margin: 0 auto;
}

.card h3 {
  margin: 10px 5;
  font-weight: normal;
}

.card span {
  margin: 10px 5;
  padding-left: 1px;
  color: rgb(0, 0, 0);
}

/* Estilo para el elemento body */
body {
  margin-top: 20;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* comentarios -------*/

/* Pagina de video */
:root {
  /* Colores */
  justify-content: start;
  --grey-color: #909090;
  justify-content: start;
  /* Tamaño de texto */
  --big-font-size: 1.125rem;
  /* 18px */
  --normal-font-size: 1rem;
  /* 16px */
  --small-font-size: 0.875rem;
  /* 14px */
  --smaller-font-size: 0.75rem;
  /* 12px */
  --font-bold: 500;

}

/* Avatar del usuario */
.user-avatar {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  flex: none;
}

.user-avatar .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Boton basico */
.button {
  --button-color: #CC0000;
  --text-button-color: white;
  --cursor-button: pointer;

  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: var(--text-button-color);
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  border: none;
  border-radius: var(--border-radius);
  cursor: var(--cursor-button);
}

.button.link {
  --text-button-color: var(--text-color-alt);
  --button-color: transparent;
}

.video-page-grid {
  --gap-page: 1.5rem;
  width: calc(100% - (var(--gap-page)*2));
  max-width: 1600px;
  display: grid;
  gap: var(--gap-page);
  grid-template-columns: repeat(11, 1fr);
  margin-left: 16;
  padding-top: var(--gap-page);
}

.video-column {
  grid-column-start: span 8;
}

.comments-information {
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.comment-form .input {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  font-size: var(--small-font-size);
  box-shadow: 0 -1px inset var(--grey-color);
  outline: none;
}

.comment-form .input:empty:before {
  content: 'Añade un comentario público…';
  color: var(--text-color-alt);
}

.comment-form .user-avatar {
  --size: 2.5rem;
}

.comment-form .buttons-container {
  margin-left: auto;
}